.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/pythonProject38.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
large file.jpeg
medium file.jpeg
small file.jpeg
New folder/file_0.jpeg
New folder/file_0.jpeg
